
@import url('../css/fonts.css');


html, body{

    background-color: black;
}

:root{

    --text-gray: #ffffff;
    --text-light : #ffffffc5;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;


    --sky: linear-gradient(120deg, #e26803 0%, #dd6b00 100%);

 
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
}


